<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HourlyRate" value="1000"/>
		<add key="FixedDailyCost" value="200"/>
		<add key="MaxBillableDailyHours" value="8"/>
		<add key="CurrencySymbol" value="kr"/>
		<add key="Tasks" value="Project Z Task,Project Y Task,Project X Task"/>
		<add key="MaxLogFileSizeInMB" value="10"/>
		<add key="SaveTaskLog" value="true"/>
	</appSettings>
</configuration>