<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HourlyRate" value="1000"/>
		<add key="FixedDailyCost" value="0"/>
		<add key="MaxBillableDailyHours" value="8"/>
		<add key="CurrencySymbol" value=""/>
		<add key="Tasks" value="Task A,Task B,Task C"/>
		<add key="MaxLogFileSizeInMB" value="10"/>
		<add key="SaveTaskLog" value="true"/>
		<add key="TaskLogSaveLocation" value=""/>
		<add key="ShowAppLogOnError" value="false"/>
		<add key="ShowTooltips" value="false"/>
		<add key="AutoShowTaskLog" value="false"/>
		<add key="AutoStartWithWindows" value="false"/>
		<add key="ConfirmBeforeClose" value="false"/>
		<add key="ShowProgressbar" value="true"/>
		<add key="ShowSettingsOnStartup" value="true"/>
	</appSettings>
</configuration>
